.category__button{
    width: 90px!important;
    padding: 0px 0px!important;
    height: 29px!important;
    font-size: 12px!important;
    font-family: 'Raleway', sans-serif!important;
   
}
.category__button:nth-child(n+4){
    position: relative!important;
    top: -10px!important;
}
.category__button:nth-child(n+7){
    position: relative!important;
    top: -20px!important;
}
.categoriesList{
    &--wrapper{
        margin:25px 0;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 320px){
    .categoriesList{
        &--wrapper{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
    }
}

@media (min-width: 1400px){
    .categoriesList{
        &--wrapper{
           display: flex;
        }
    }
    .category__button{
        width: 120px!important;
        padding: 0px 5px!important;
        height: 35px!important;
        font-size: 14px!important;
        font-weight: 600!important;
    }
    .category__button:nth-child(n+4){
        position: relative!important;
        top: 0px!important;
    }
    .category__button:nth-child(n+7){
        position: relative!important;
        top: 0px!important;
    }
}