$--ant-primary-color: #1890ff;
.wrapper{
	max-width: 310px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.ant-btn-primary {
	// color: #fff;
	// background: var(--ant-primary-color)!important;
}
.page__title{
	margin: 20px 0;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0.02em;
	font-family: "Raleway", sans-serif;
}
.ant-empty-description{
	display: none!important;
}
.ant-btn-round {
	margin: 5px 0!important;
}
.ant-btn {
	line-height: 1;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: pre-wrap;
	text-align: center;
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	height: 35px;
	padding: 4px 15px;
	font-size: 14px;
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.85);
	border-color: #d9d9d9;
	background: #fff;
}
h4.ant-typography, .ant-typography h4 {
	margin: 1em 0;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4;
}
.empty__title{
	font-size: 18px;
	font-weight: 800;
	font-family: "Raleway", sans-serif;
}
.empty__subtitle{
	font-size: 14px;
	font-family: "Raleway", sans-serif;
	color: #797878;
}
@media (min-width: 320px){
  .wrapper{
    max-width: 310px;
  }
}
@media (min-width: 1400px){
  .wrapper{
    max-width: 1300px;
  }
	.ant-btn {
		line-height: 1;
		height: 38px;
		padding: 5px 15px;
	}
	.page__title{
		font-size: 52px;
		line-height: 85px;
	}
}
