.carousel-item{
 &__img{
  width: 800px;
  cursor: pointer;
}
  &__wrapper{
  width: 1000px;
  display: flex;
  justify-content: center;
  }
  &__block{
    display: flex;
  justify-content: center;
  }
}