.favoritesList__content{
  text-align:center;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.productsList{
  &--wrapper{
    text-align: center;
  }

  &--content{
      text-align:center;
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
  }
}
@media (min-width: 320px){
  .productsList{
    &--wrapper{
      text-align: center;
      padding: 10px 0;
    }
  
    &--content{
        position: relative;
        top: -20px;
        text-align:center;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    &__title{
      position: relative;
      top: -20px;
    }
  }
}
@media (min-width: 1400px){
  .productsList{
    &--wrapper{
      text-align: center;
      padding: 20px 0;
    }
  
    &--content{
        text-align:center;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
  }
}

