.carousel {
    &--wrapper {
        width:100%;
        padding-bottom: 50px;
    }
}
.slick{
    &-dots{
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li{
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
        }
    }
    &-next{
        right:0;
        &::before{
            color: #000;
        }
    }
    &-prev{
        z-index: 10000;
        left:0;
        &::before{
            color: #000;
        }
    }
}
