.product-details {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    &__info{
        margin-left: 40px;
        text-align: left;
    }
    &__title{
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.19em;             
    }
    &__set-number{
        padding: 5px 0!important;
    }
    &__section{
        display: flex;
        justify-content: space-between;
    }
}
.comment__warning{
    margin-top: 1em;
    color: red;
}