.header{
 
}
.icon--cart{
  cursor: pointer;
}


@media (min-width: 320px){
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  .logo__icon{
    width: 80px;
  }
  .header-icon__wrapper{
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  .search{
    width: 120px;
  }
  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child{
    left: 0px!important;
  }
}
@media (min-width: 1400px){
  .header{
    &__wrapper{
      display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    }
    &-icon__wrapper{
      width: 200px;
      justify-content: space-between;
    }
  }
  .logo__icon{
    width: 345px;
  }
  .search{
    width: 300px;
  }
  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child{
    left: 0px!important;
  }
}