.title {
    font-size: 18px;
    font-weight: bold;

}

.form-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}


.button-submit{
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 5px;
}
.button-submit:hover {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-conteiner {
    padding: 50px 100px;
    width: 50%;
    background: white;
    border: black solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-form {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 25px;
    font-size: 14px;
    color: black;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;

}
.input-form:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #434343;
}
.error-massage {
    position: absolute;
    color: red;
    font-size: 12px;

}