.cart-item__wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ant-btn-primary {
  color: black;
  border-color: #1890ff;
  background: white; 
}
.cart-item__info{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart__counter{
  display: flex;
}
.total-item__price{
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 900;
}
.cart-info__wrapper{
  display: flex;
  justify-content: space-between;
  width: 1060px;
}